{% extends 'base.html' %}
{% block Title %}
Home
{% endblock %}
{% block Content%}
<h1 id="home-page-h1"> Study Anything </h1>
<p> lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
<p> lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
<p> lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
{% include 'fragments/statistics.html' %}
{% endblock %}